.place__link {
  color: #fff;
  margin: 0;
  margin-left: 16px;
  line-height: 1.22;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  transition: .3s linear;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .place__link {
    margin: 0;
  }
}