.place {
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px 25px;
  overflow: hidden;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
    margin: 73px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
    margin: 80px 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
    margin: 80px 148px 0;
  }
}